BasedOnStyle: Chromium
IndentPPDirectives: None
SortIncludes: Never
BreakBeforeBinaryOperators: All
AlignOperands: DontAlign
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Custom
BraceWrapping:
AfterControlStatement: MultiLine
BinPackArguments: false
UseTab: Never
ContinuationIndentWidth: 2
IndentWidth: 2
TabWidth: 2
ColumnLimit: 80
